body {
    margin: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

nav {
    padding: 20px;
}

footer {
    margin-top: 60px;
    padding: 40px;
    font-size: 0.9rem;
}